.hb-bg {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    gap: 20px;
    margin-bottom: 100px;
}

.hb-grid {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.hb-itens{
    min-width: 220px
}

.hb-titulo {
    padding: 20px;
    text-align: center;
    font-size: 3.125rem;
}



.informacoes h1 {
    font-size: 6rem;
}

.informacoes {
    flex-basis: 50%;
    padding-top: 110px;
    text-align: center;
}

.informacoes p {
    font-size: 1.5rem;
    color: #828282;

}

.info-mobile {
    display: none;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.2rem;
    color: #828282;
}


.hb-itens {
    background: #000000;
    color: #ffffff;
    width: max-content;
    padding: 20px;
    text-align: center;
    font-size: 1.9rem;
    border-radius: 6px;
    box-shadow: 25px 30px 18px -3px rgba(0, 0, 0, 0.1);
    border: 4px solid transparent;
    transition: .3s;
    cursor: pointer;
}

.info {
    text-align: center;

}

.hb-itens:hover {
    border: 4px solid #c9c9c9;
}





@media(max-width:1000px) {
    .hb-bg{
        flex-direction: column;
    }

    .informacoes {
        flex-basis: 50%;
        padding-top: 20px;
        text-align: center;
    }
    

    .informacoes h1 {
        font-size: 2rem;
    }

    .hb-grid{
        flex-wrap: nowrap;
    }

    .informacoes p {
        font-size: 1rem;
    }

    .info-mobile {
        display: block;
    }
}

@media(max-width:600px) {
    .informacoes h1 {
        font-size: 2rem;
    }
    .hb-titulo{
        padding: 10px;
    }
    .hb-grid{
        overflow-x: scroll;
        padding-left: 310px;
        gap: 10px;
        padding-right: 10px;
    }

    .hb-bg {
        padding: 0;
    }
    .informacoes p {
        font-size: 1rem;
    }

    .informacoes {
        display: flex;
    }

    .info-mobile {
        display: block;
    }
}



.js-tabcontent section {
    display: none;
}

.js-tabcontent section.ativo {
    display: block !important;
    animation: show .6s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}